@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #101214; /* Color de fondo oscuro/plomo */
    background: url(../DnB.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #fff; /*aaaaquiii*/
    border: 1px solid #666; /* Borde plomo */
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra suave negra */
    position: relative;
    overflow: hidden;
    width: 600px;
    max-width: 100%;
    min-height: 680px;
}

.container h1 {
    margin-bottom: 0px;
    color: #b49c4d; /* Color de título negro */
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
    color: #ffffff; /* Texto en plomo */
}

.container span {
    font-size: 12px;
    color: #b49c4d; /* Texto dorado */
}

.container a {
    color: #101214; /* Enlaces en negro */
    font-size: 13px;
    text-decoration: none;
    margin: 10px 0 10px;
}

.container button {
    background-color: #b49c4d; /* Botón dorado */
    color: #fff; /* Texto blanco */
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden {
    background-color: transparent;
    border-color: #b49c4d;
    color: #b49c4d; /* Texto dorado en botón */
}

.container form {
    background-color: #fff;/*aaaaquiii*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input, .container select {
    background-color: #eee; /* Fondo claro para inputs */
    border: none;
    margin: 3px 0;
    padding: 8px 13px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.container label {
    width: 100%;
    text-align: left;
    font-size: 10px;
    color: #101214; /* Etiquetas en negro */
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    border: 1px solid #b49c4d; /* Borde dorado */
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
    color: #b49c4d; /* Iconos dorados */
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: #b49c4d; /* Color dorado */
    height: 100%;
    background: linear-gradient(to right,#666, #101214); /* Degradado dorado a negro */
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200%);
}
