body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    padding: 20px;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 200px;
}
.payment-form, .order-summary {
    width: 48%;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.payment-form input[type="text"], 
.payment-form input[type="password"], 
.payment-form input[type="month"], 
.order-summary input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.order-summary {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.order-summary div {
    margin-bottom: 10px;
}
.order-summary button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.order-summary button:hover {
    background-color: #0056b3;
}
.complete-btn {
    background-color: #007BFF;
    color: #fff;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}
.complete-btn:hover {
    background-color: #0056b3;
}
.back-link {
    display: inline-block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}
.back-link:hover {
    text-decoration: underline;
}
.checkbox-container {
    display: flex;
    align-items: center;
}
.checkbox-container input {
    margin-right: 10px;
}
/* Nuevos ajustes */
.order-summary input[type="text"] {
    width: calc(70% - 10px);
    display: inline-block;
    margin-right: 10px;
}
.order-summary .total-summary {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
    border-top: 2px solid #ccc;
    padding-top: 10px;
}
.order-summary div.summary-item {
    display: flex;
    justify-content: space-between;
}
.summary-item label {
    font-weight: normal;
}