footer {
    padding-top: 25px;
    .footer-menu {
      align-items: center;
      color: $color-white;
      text-decoration: none;
      img {
        width: 80px;
      }
      .menu-list .menu-item a,
      .list-unstyled li a {
        color: $color-white;
        margin-left: 10px;
        text-decoration: none;
      }
    }
  }