// Variables
$primary-font: Arial, Helvetica, sans-serif;
$background-black: #000;
$color-white: rgb(255, 255, 255);
$color-gold: gold;
$color-black: rgb(0, 0, 0);
$color-text: #666;
$color-highlight: rgb(200, 170, 0);
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 20px;
