@import'./variable';
@import'./header';
@import'./products';
@import './footer';
@import './media-queries';
// Global styles
*{
  font-family: $primary-font;
}
.palabra-color {
    color: $color-gold !important;
  }
main {
  margin-top: 200px;
}
