<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controlador.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRegistro</servlet-name>
        <servlet-class>controlador.ControladorRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarPago</servlet-name>
        <servlet-class>controlador.ProcesarPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificacionPago</servlet-name>
        <servlet-class>controlador.NotificacionPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>controlador.PaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuccessController</servlet-name>
        <servlet-class>controlador.SuccessController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FailureController</servlet-name>
        <servlet-class>controlador.FailureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PendingController</servlet-name>
        <servlet-class>controlador.PendingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarProducto</servlet-name>
        <servlet-class>controlador.BuscarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventariadoController</servlet-name>
        <servlet-class>controlador.InventariadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentasPrecencialesController</servlet-name>
        <servlet-class>controlador.VentasPrecencialesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoletasController</servlet-name>
        <servlet-class>controlador.BoletasController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRegistro</servlet-name>
        <url-pattern>/ControladorRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarPago</servlet-name>
        <url-pattern>/ProcesarPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificacionPago</servlet-name>
        <url-pattern>/NotificacionPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentController</servlet-name>
        <url-pattern>/PaymentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuccessController</servlet-name>
        <url-pattern>/SuccessController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FailureController</servlet-name>
        <url-pattern>/FailureController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PendingController</servlet-name>
        <url-pattern>/PendingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarProducto</servlet-name>
        <url-pattern>/BuscarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventariadoController</servlet-name>
        <url-pattern>/InventariadoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentasPrecencialesController</servlet-name>
        <url-pattern>/VentasPrecencialesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoletasController</servlet-name>
        <url-pattern>/BoletasController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
