* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito';
}
/* Cuerpo */
body {
	background: #E0E4E5;
	font-family:Arial, Helvetica, sans-serif;
}
/* ---------Filtros --------*/
/* Filtro por precio */
.category_list .price-filter {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.category_list input[type="range"] {
	width: 100%;
}
/* texto del Filtro por precio */
.category_list p {
	font-size: 14px;
	color: #666;
	margin-bottom: 0;
}
/* titulos de filtro */
.category_list h5 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.container-fluid .list-group .activePage a{
    color: rgb(159, 158, 158);	
}
.container-fluid .list-group a{
    text-decoration: none;
    color: black;
}
.list-group a:hover:not(.activePage a){
	color: gold;
}
/* ------PRODUCTOS -----------*/
.productos{
	display: flex;
	margin-top: 10px;
}
.products-list {
	display: flex;
	flex-wrap: wrap;
}
/* Estilo de productos */
.products-list .product-item { 
	align-items: center;
	margin-left: 30px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);

    border-radius: 5px;
}
.product-item select{
	align-items: center;
}
.products-list .product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.products-list .product-item img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.products-list .product-item a {
    padding: 10px 0;
    background: #2d3e50;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.products-list .product-item a:hover {
    background: #1c2938;
}

/* -----Responsividad------ */

@media screen and (max-width: 1024px) {
	.products-list .product-item {
	/* 4 productos por fila en pantallas medianas */
		margin-left: 5px;
	}
	.productos{
		flex-direction: row;
		display: flex;
	}
}

@media screen and (max-width: 993px) {
	.productos{
		flex-direction: column;
		display: flex;
	}
	.products-list .product-item {
		margin-left: 10px;
	}	
}
